In [27]:
# Import dependencies
import pandas as pd
import numpy as np
import datetime as dt

In [ ]:
# Declare modified dfs 
modified_deal_df = pd.read_csv('../Modified_Data_Resources/modified_deal_info.csv')
modified_mockups_df = pd.read_csv('../Modified_Data_Resources/modified_mockups_info.csv')
modified_revisions_df = pd.read_csv('../Modified_Data_Resources/revisions_df_copy.csv')
modified_cart_items_df = pd.read_csv('../Modified_Data_Resources/modified_cart_items_info.csv')
modified_mfg_products_df = pd.read_csv('../Modified_Data_Resources/mfg_products_df_copy.csv')
modified_deals_mockups_df = pd.read_csv('../Modified_Data_Resources/deals_mockups_df_copy.csv')

# Transform Data for Design

- Drop unnecessary columns, rename and updated values to create a schema specific for design team queries

In [44]:
# Clean up modified Deal_df
# Only keep key columns for design schema

# Dictionary for renaming columns
rename_columns = {
    'ID': 'Deal_Table_Record_ID',
    'Created at': 'Deal_Created_at',
    'Updated at': 'Deal_Updated_at',
    'Originial due at': 'Deal_Original_Due_at',
    'Due at': 'Deal_Due_at',
    'Assigned at': 'Deal_assigned_at',
    'Mockups ready at': 'Mockups_ready_at',  
    'Mockup due date': 'Mockup_due_date',  
    'Hs quantity': 'Hs_quantity',  
    'Hs client type': 'Hs_client_type',  
    'Po number': 'Po_number',  
    'Portal created': 'Portal_created',  
    'Hs design difficulty': 'Hs_design_difficulty',  
    'Automation tool': 'Automation_tool',  
    'Hs dealtype': 'Hs_dealtype',  
    'Created on': 'Deal_Created_on'  
}

# Filter and rename columns in the DataFrame
cleaned_design_deal_df = modified_deal_df[list(rename_columns.keys())].rename(columns=rename_columns)

# Display the new DataFrame
cleaned_design_deal_df.head()

,Deal_Table_Record_ID,Deal_Created_at,Deal_Updated_at,Deal_Original_Due_at,Deal_Due_at,Deal_assigned_at,Mockups_ready_at,Mockup_due_date,Hs_quantity,Hs_client_type,Po_number,Portal_created,Hs_design_difficulty,Automation_tool,Hs_dealtype,Deal_Created_on
0,105010,2023-01-01T19:01:33.103Z,2024-02-09T00:35:28.466Z,2023-01-04T19:01:33.000Z,2023-01-04T19:01:33.000Z,2023-01-03T15:28:27.124Z,2023-01-03T17:14:33.056Z,2023-01-04T06:00:00.000Z,NaN,Direct,NaN,True,Low,1.0,Newbusiness,2023-01-01
1,105014,2023-01-01T23:52:14.779Z,2023-03-02T22:51:26.182Z,2023-01-04T23:52:16.000Z,2023-01-04T23:52:16.000Z,2023-01-03T15:28:57.563Z,2023-01-03T15:34:23.973Z,2023-01-04T06:00:00.000Z,NaN,Direct,NaN,True,High Res Preview,2.0,Newbusiness,2023-01-01
2,105006,2023-01-01T04:58:07.689Z,2023-01-11T15:50:19.497Z,NaN,NaN,NaN,NaN,NaN,NaN,Direct,NaN,True,NaN,1.0,Newbusiness,2023-01-01
3,105011,2023-01-01T20:05:07.001Z,2023-03-28T15:29:19.886Z,2023-01-04T20:05:09.000Z,2023-01-04T20:05:09.000Z,2023-01-03T15:30:15.651Z,2023-01-03T22:16:32.764Z,2023-01-04T06:00:00.000Z,NaN,Direct,NaN,True,Low,2.0,Newbusiness,2023-01-01
4,105007,2023-01-01T14:26:53.422Z,2023-01-16T19:29:55.241Z,2023-01-04T14:26:55.000Z,2023-01-04T14:26:55.000Z,2023-01-03T15:29:39.647Z,NaN,2023-01-04T06:00:00.000Z,NaN,Direct,NaN,True,High Res Preview,2.0,Newbusiness,2023-01-01

In [ ]:
# Update Cleaned Deal df Dtypes accordingly

# Columns to convert to datetime
datetime_columns = [
    'Deal_Created_at', 'Deal_Updated_at', 'Deal_Original_Due_at',
    'Deal_Due_at', 'Deal_assigned_at', 'Mockups_ready_at', 
    'Mockup_due_date', 'Deal_Created_on'
]

for col in datetime_columns:
    cleaned_design_deal_df[col] = pd.to_datetime(cleaned_design_deal_df[col], errors='coerce')

# Columns to convert to integer
int_columns = {
    'Hs_quantity': 'Int64', 
    'Po_number': 'Int64',
    'Automation_tool': 'Int64'
}

for col, dtype in int_columns.items():
    cleaned_design_deal_df[col] = cleaned_design_deal_df[col].astype(dtype)

# Check the DataFrame's new dtypes
print(cleaned_design_deal_df.dtypes)

In [ ]:
# Clean up modified Mockup df 
# Only keep key columns for design schema

# Dictionary for renaming columns
rename_columns = {
    'ID': 'Mockup_ID',
    'Created at': 'mockup_created_at',
    'Updated at': 'Mockup_updated_at',
    'Version number': 'Version_number',  
    'Design number': 'Design_number', 
    'Chassis': 'Chassis',
    'Previously ordered': 'Previously_ordered',  
    'Design source': 'Design_source',  
    'Designer ID': 'Designer_ID',  
    'Parent mockup ID': 'Parent_mockup_ID'  
}

# Filter and rename columns in the DataFrame
cleaned_design_mockup_df = modified_mockups_df[list(rename_columns.keys())].rename(columns=rename_columns)

# Display the new DataFrame
cleaned_design_mockup_df

In [43]:
# Update Cleaned Mockup df Dtypes accordingly

# Convert columns to datetime
datetime_columns = ['mockup_created_at', 'Mockup_updated_at', 'Previously_ordered']
for col in datetime_columns:
    cleaned_design_mockup_df[col] = pd.to_datetime(cleaned_design_mockup_df[col], errors='coerce')

# Convert columns to integer (where applicable)
int_columns = {
    'Version_number': 'Int64',  # Nullable integer type due to NaNs
    'Design_number': 'int',     # Non-nullable integer type
    'Chassis': 'int',           # Non-nullable integer type
    'Designer_ID': 'Int64',     # Nullable integer type due to NaNs
    'Parent_mockup_ID': 'Int64' # Highly nullable, using nullable integer type
}

for col, dtype in int_columns.items():
    cleaned_design_mockup_df[col] = cleaned_design_mockup_df[col].astype(dtype)

# Check the DataFrame's new dtypes
print(cleaned_design_mockup_df.dtypes)

Mockup_ID                           int64
mockup_created_at     datetime64[ns, UTC]
Mockup_updated_at     datetime64[ns, UTC]
Version_number                      Int64
Design_number                       int32
Chassis                             int32
Previously_ordered    datetime64[ns, UTC]
Design_source                      object
Designer_ID                         Int64
Parent_mockup_ID                    Int64
dtype: object

In [45]:
# Clean up modified Deals Mockups df
# Only keep key columns for design schema

# Dictionary for renaming columns
rename_columns = {
    'ID': 'Deals_mockups_ID',
    'Created at': 'Deals_Mockups_created_at',
    'Updated at': 'Deals_Mockups_updated_at'
}

# Columns to keep (including those to be renamed and those not renamed but still retained)
columns_to_keep = ['ID', 'Deal ID', 'Mockup ID', 'Created at', 'Updated at']

# Filter and rename columns in the DataFrame
cleaned_design_deals_mockups_df = modified_deals_mockups_df[columns_to_keep].rename(columns=rename_columns)

# Display the new DataFrame
cleaned_design_deals_mockups_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97586 entries, 0 to 97585
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Deals_mockups_ID          97586 non-null  int64
 1   Deal ID                   97586 non-null  int64
 2   Mockup ID                 97586 non-null  int64
 3   Deals_Mockups_created_at  97586 non-null  object
 4   Deals_Mockups_updated_at  97586 non-null  object
dtypes: int64(3), object(2)
memory usage: 3.7+ MB

In [46]:
# Update Cleaned Deals Mockups df Dtypes accordingly

# Convert columns to datetime
datetime_columns = ['Deals_Mockups_created_at', 'Deals_Mockups_updated_at']
for col in datetime_columns:
    cleaned_design_deals_mockups_df[col] = pd.to_datetime(cleaned_design_deals_mockups_df[col], errors='coerce')

# However, let's confirm the current data types to ensure everything is in order.
print(cleaned_design_deals_mockups_df.dtypes)

Deals_mockups_ID                          int64
Deal ID                                   int64
Mockup ID                                 int64
Deals_Mockups_created_at    datetime64[ns, UTC]
Deals_Mockups_updated_at    datetime64[ns, UTC]
dtype: object

In [13]:
# Clean up modified Cart Items df 
# Only keep key columns for design schema

# Dictionary for renaming columns
rename_columns = {
    'ID': 'cart_items_id',
    'Created at': 'Created_at',  # Assuming you want to keep the name almost similar but properly formatted
    'Quantity': 'Quantity',
    'Deal ID': 'Deal_ID',
    'Mockup ID': 'Mockup_ID',
    'Mockup version': 'Mockup_version',
    'Sock unit price': 'Sock_unit_price',
    'Pkg unit price': 'Pkg_unit_price',
    'Product ID': 'Product_ID',
    'Unit price': 'Unit_price',
    'Cart total': 'Cart_total',
    'Created on': 'Created_on'
}

# Columns to keep (specify columns here that you wish to keep in the new DataFrame)
columns_to_keep = list(rename_columns.keys())

# Filter and rename columns in the DataFrame
cleaned_design_cart_items_df = modified_cart_items_df[columns_to_keep].rename(columns=rename_columns)

# Display the new DataFrame
cleaned_design_cart_items_df.head()

,cart_items_id,Created_at,Quantity,Deal_ID,Mockup_ID,Mockup_version,Sock_unit_price,Pkg_unit_price,Product_ID,Unit_price,Cart_total,Created_on
0,68849,2023-01-01T21:40:49.192Z,NaN,NaN,NaN,NaN,NaN,$1.00,NaN,NaN,180.0,2023-01-01
1,68848,2023-01-01T21:40:49.178Z,180.0,NaN,133806.0,3.0,$11.12,NaN,NaN,NaN,180.0,2023-01-01
2,68878,2023-01-03T18:08:48.367Z,1600.0,NaN,130725.0,1.0,$5.68,NaN,NaN,NaN,2000.0,2023-01-03
3,68879,2023-01-03T18:37:22.407Z,NaN,NaN,NaN,NaN,NaN,$1.00,NaN,NaN,200.0,2023-01-03
4,68927,2023-01-03T22:10:37.877Z,NaN,NaN,NaN,NaN,NaN,$1.00,NaN,NaN,120.0,2023-01-03

In [14]:
# clean up modified revision df, keep key columns for design schema and rename


# Dictionary for renaming columns
rename_columns = {
    'ID': 'revisions_ID',
    'Mockup ID': 'Mockup_ID',  # Assuming you want to keep the name as is
    'Version number': 'Version_number',  # Assuming you want to keep the name as is
    'Completed at': 'Completed_at',  # Assuming you want to keep the name almost similar but properly formatted
    'Created at': 'Created_at',  # Assuming you want to keep the name almost similar but properly formatted
    'Updated at': 'Updated_at',  # Assuming you want to keep the name almost similar but properly formatted
    'Packaging ID': 'Packaging_ID',  # Assuming you want to keep the name as is
    'Product ID': 'Product_ID',  # Assuming you want to keep the name as is
    'Sock pair ID': 'Sock_pair_ID',  # Assuming you want to keep the name as is
    'Base version': 'Base_version',  # Assuming you want to keep the name as is
    'Read at': 'Read_at'  # Assuming you want to keep the name almost similar but properly formatted
}

# Columns to keep (specify columns here that you wish to keep in the new DataFrame)
columns_to_keep = list(rename_columns.keys())

# Filter and rename columns in the DataFrame
cleaned_design_revisions_df = modified_revisions_df[columns_to_keep].rename(columns=rename_columns)

# Display the new DataFrame
cleaned_design_revisions_df.head()

,revisions_ID,Mockup_ID,Version_number,Completed_at,Created_at,Updated_at,Packaging_ID,Product_ID,Sock_pair_ID,Base_version,Read_at
0,21736,133806.0,3.0,2023-01-03T15:43:58.337Z,2023-01-01T21:34:49.498Z,2023-01-03T15:43:58.338Z,NaN,NaN,NaN,3.0,NaN
1,21810,134477.0,1.0,2023-01-04T18:13:20.532Z,2023-01-03T23:59:17.506Z,2023-01-04T18:13:20.532Z,NaN,NaN,NaN,1.0,NaN
2,21750,133944.0,2.0,2023-01-03T17:17:10.792Z,2023-01-03T17:08:33.855Z,2023-01-03T17:17:10.793Z,NaN,NaN,NaN,2.0,NaN
3,21782,133993.0,3.0,2023-01-03T21:02:49.165Z,2023-01-03T20:51:33.167Z,2023-01-03T21:02:49.166Z,NaN,NaN,NaN,3.0,NaN
4,21806,134492.0,1.0,2023-01-04T17:58:43.091Z,2023-01-03T23:48:34.490Z,2023-01-04T17:58:43.091Z,NaN,NaN,NaN,1.0,NaN

In [15]:
# clean up modified mfg products df, keep key columns for design schema and rename


# Dictionary for renaming columns
rename_columns = {
    'ID': 'mfg_products_ID',
    'Mockup ID': 'Mockup_ID',  # Assuming you want to keep the name as is
    'Created at': 'Created_at',  # Assuming you want to keep the name almost similar but properly formatted
    'Updated at': 'Updated_at',  # Assuming you want to keep the name almost similar but properly formatted
    'Packaging ID': 'Packaging_ID',  # Assuming you want to keep the name as is
    'Product ID': 'Product_ID',  # Assuming you want to keep the name as is
    'Sock pair ID': 'Sock_pair_ID',  # Assuming you want to keep the name as is
    'Created on': 'Created_on',  # Assuming you want to keep the name almost similar but properly formatted
    'Mockup version': 'Mockup_version',  # Assuming you want to keep the name as is
    'Quantity': 'Quantity',  # Assuming you want to keep the name as is
    'Product info ID': 'Product_info_ID'  # Assuming you want to keep the name as is
}

# Columns to keep (specify columns here that you wish to keep in the new DataFrame)
columns_to_keep = list(rename_columns.keys())

# Filter and rename columns in the DataFrame
cleaned_design_mfg_products_df = modified_mfg_products_df[columns_to_keep].rename(columns=rename_columns)

# Display the new DataFrame
cleaned_design_mfg_products_df.head()

,mfg_products_ID,Mockup_ID,Created_at,Updated_at,Packaging_ID,Product_ID,Sock_pair_ID,Created_on,Mockup_version,Quantity,Product_info_ID
0,36734,NaN,2023-01-02T21:05:25.023Z,2023-01-02T21:05:25.418Z,65927.0,NaN,NaN,2023-01-02,NaN,500.0,35.0
1,36733,112571.0,2023-01-02T21:05:25.018Z,2023-01-02T21:05:25.347Z,NaN,NaN,NaN,2023-01-02,4.0,500.0,2.0
2,36772,NaN,2023-01-03T18:12:05.569Z,2023-01-03T18:18:42.153Z,70799.0,NaN,NaN,2023-01-03,NaN,1600.0,35.0
3,36781,118940.0,2023-01-03T20:07:39.098Z,2023-01-03T20:07:39.611Z,NaN,NaN,NaN,2023-01-03,1.0,60.0,114.0
4,36782,NaN,2023-01-03T20:07:39.103Z,2023-01-03T20:07:39.679Z,68963.0,NaN,NaN,2023-01-03,NaN,60.0,35.0

In [16]:
# write cleaned csvs to their own folder
cleaned_design_deal_df.to_csv('../Cleaned_Design_Data_Resources/cleaned_design_deal_df.csv', index=False)
cleaned_design_mockup_df.to_csv('../Cleaned_Design_Data_Resources/cleaned_design_mockup_df.csv', index=False)
cleaned_design_deals_mockups_df.to_csv('../Cleaned_Design_Data_Resources/cleaned_design_deals_mockups_df.csv', index=False)
cleaned_design_cart_items_df.to_csv('../Cleaned_Design_Data_Resources/cleaned_design_cart_items_df.csv', index=False)
cleaned_design_revisions_df.to_csv('../Cleaned_Design_Data_Resources/cleaned_design_revisions_df.csv', index=False)
cleaned_design_mfg_products_df.to_csv('../Cleaned_Design_Data_Resources/cleaned_design_mfg_products_df.csv', index=False)

In [26]:
cleaned_design_mfg_products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34383 entries, 0 to 34382
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mfg_products_ID  34383 non-null  int64
 1   Mockup_ID        17136 non-null  float64
 2   Created_at       34383 non-null  object
 3   Updated_at       34383 non-null  object
 4   Packaging_ID     12281 non-null  float64
 5   Product_ID       496 non-null    float64
 6   Sock_pair_ID     1090 non-null   float64
 7   Created_on       34383 non-null  object
 8   Mockup_version   17136 non-null  float64
 9   Quantity         34382 non-null  float64
 10  Product_info_ID  29913 non-null  float64
dtypes: float64(7), int64(1), object(3)
memory usage: 2.9+ MB